@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
  scrollbar-color: #c4b5fd transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4b5fd;
  border-radius: 20px;
}
